<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheets/randomizer.css">
</head>

<body>
  <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#aboutus">About Us</a>
      <a href="restaurant">My Restaurants</a>
      <a href="sign_in.html">Sign In</a>
      <a href="sign_up.html">Create An Account</a>
  </div>
    <h2>Let's Pick a Restaurant!</h2>

    <div class="multi-bg-example">
        <p>
            Your random restaurant pick is: <br><br>
            In-n-Out <br><br>
            Don't like our pick? <br>
            <button type="button">Pick Again</button>

        </p>

    </div>

</body>

</html>

<!-- hit ! and then tab to get the html boilerplate -->
